In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import tree

In [2]:
Xs =[]
ys = []
cmlabel = []

all_features_org= ['age', 'avg_glucose_level', 'bmi', 'hypertension', 'heart_disease',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes']

all_features= ['age', 'avg_glucose_level', 'bmi', 'hypertension_0', 'hypertension_1', 'heart_disease_0', 'heart_disease_1',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes']
lifestyle_features=['bmi',
       'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes']
medical_features=['age', 'avg_glucose_level', 'hypertension', 'heart_disease',
       'gender_Female', 'gender_Male', 'gender_Other']


my_features= ['age', 'avg_glucose_level', 'bmi','hypertension_0', 'hypertension_1', 'heart_disease_0', 'heart_disease_1',
        'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes']

features=all_features_org

#root_path="Resources/backup_files/"
root_path="Resources/"

In [3]:
# Loading testing data
file_path = Path(root_path+"stroke_testing_data.csv")
df_testing = pd.read_csv(file_path)

X_test=df_testing[features]
y_test=df_testing["stroke"]

df_testing

,age,avg_glucose_level,bmi,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0.877930,0.221827,0.203182,0,0,1,0,0,0,1,...,0,1,0,1,0,0,1,0,0,0
1,0.548340,0.433817,0.283966,0,0,1,0,0,0,1,...,0,1,0,1,0,1,0,0,0,0
2,0.890137,0.074219,0.335373,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,0.450684,0.211759,0.197062,0,0,1,0,0,0,1,...,1,0,0,1,0,1,0,0,0,0
4,0.572754,0.093340,0.319461,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,0.353027,0.040089,0.429621,0,0,1,0,0,0,1,...,1,0,0,0,1,0,0,0,1,0
1224,0.572754,0.011731,0.280294,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
1225,0.890137,0.307639,0.244798,0,0,0,1,0,0,1,...,1,0,0,1,0,0,1,0,0,0
1226,0.768066,0.232311,0.337821,0,0,0,1,0,0,1,...,1,0,0,0,1,0,1,0,0,0
1227,0.157715,0.204461,0.160343,0,0,1,0,0,1,0,...,0,0,1,1,0,1,0,0,0,0

In [4]:
# Loading data
file_path = Path(root_path+"stroke_training_ActualDataSample.csv")
df_actsample = pd.read_csv(file_path)

Xs.append(df_actsample[features])
ys.append(df_actsample["stroke"])
cmlabel.append("Using ActualDataSample")

df_actsample

,age,avg_glucose_level,bmi,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0.019043,0.125947,0.058752,0,0,1,0,0,1,0,...,0,0,1,1,0,1,0,0,0,0
1,0.951172,0.628626,0.173807,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
2,0.511719,0.037179,0.204406,0,0,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,0
3,0.536133,0.131027,0.168911,1,0,0,1,0,0,1,...,0,1,0,1,0,0,0,1,0,0
4,0.609375,0.697534,0.527540,0,0,1,0,0,0,1,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,0.975586,0.042583,0.424725,0,0,1,0,0,0,1,...,1,0,0,0,1,0,0,1,0,1
362,0.987793,0.604979,0.228886,0,0,0,1,0,0,1,...,1,0,0,0,1,0,1,0,0,1
363,0.816895,0.801173,0.321909,0,1,0,1,0,0,1,...,1,0,0,0,1,0,1,0,0,1
364,0.829102,0.778727,0.264382,0,1,0,1,0,0,1,...,1,0,0,0,1,0,1,0,0,1
365,0.951172,0.015472,0.170135,0,0,1,0,0,0,1,...,1,0,0,0,1,1,0,0,0,1

In [5]:
# Loading data
file_path = Path(root_path+"stroke_training_randomoversampled.csv")
df_rdmnsampl = pd.read_csv(file_path)

Xs.append(df_rdmnsampl[features])
ys.append(df_rdmnsampl["stroke"].values)
cmlabel.append("Using Random Oversampling")

df_rdmnsampl

,age,avg_glucose_level,bmi,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0.206543,0.158692,0.152999,0,0,1,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
1,0.487305,0.412248,0.238678,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
2,0.658203,0.143359,0.303550,0,0,0,1,0,0,1,...,1,0,0,0,1,0,1,0,0,0
3,0.560547,0.284593,0.219094,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,0
4,0.938965,0.076113,0.275398,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7043,0.914551,0.766996,0.189718,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,1
7044,0.975586,0.061472,0.170135,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,1
7045,0.658203,0.227646,0.208078,0,0,1,0,0,0,1,...,1,0,0,0,1,0,0,0,1,1
7046,0.768066,0.379087,0.261934,0,0,0,1,0,0,1,...,1,0,0,1,0,0,1,0,0,1
7047,0.975586,0.084611,0.167687,0,0,1,0,0,0,1,...,1,0,0,0,1,1,0,0,0,1

In [6]:
# Loading data
file_path = Path(root_path+"stroke_training_SMOTEENN.csv")
df_smoteensmpl = pd.read_csv(file_path)

Xs.append(df_smoteensmpl[features])
ys.append(df_smoteensmpl["stroke"])
cmlabel.append("Using SMOTEENN Sampling")

df_smoteensmpl

,age,avg_glucose_level,bmi,hypertension,heart_disease,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0.206543,0.158692,0.152999,0,0,1,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
1,0.487305,0.412248,0.238678,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
2,0.560547,0.284593,0.219094,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,0
3,0.938965,0.076113,0.275398,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
4,0.145508,0.054683,0.070991,0,0,0,1,0,1,0,...,0,0,1,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6233,0.811222,0.852950,0.369496,0,0,1,0,0,0,1,...,1,0,0,0,1,0,1,0,0,1
6234,0.592245,0.320831,0.259396,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,1,0,1
6235,0.956760,0.193550,0.227334,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
6236,0.973036,0.639875,0.226351,0,0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,0,1
6237,0.784818,0.609516,0.330100,0,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,1

In [7]:
def train_test_trees(X_train, y_train, X_test, y_test, label):
    # Creating the decision tree classifier instance
    tree_model = tree.DecisionTreeClassifier(criterion="gini")
    # Fitting the model
    tree_model = tree_model.fit(X_train, y_train)
    # Making predictions using the testing data
    predictions = tree_model.predict(X_test)
    
    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Decision Tree")
    print(f"Confusion Matrix:{label}")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [8]:
def train_test_svm(X_train, y_train, X_test, y_test, label):
    # Create the SVM model
    svm = SVC(kernel='linear')
    # Train the model
    svm.fit(X_train, y_train)
    # Evaluate the model
    predictions = svm.predict(X_test)

    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("SVM-Support Vector Machine")
    print(f"Confusion Matrix:{label}")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [9]:
def train_test_boosting(X_train, y_train, X_test, y_test, label, learning_rate):
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate, max_features=5, 
                                            max_depth=3, random_state=0)
    classifier.fit(X_train, y_train)
    # Evaluate the model
    predictions = classifier.predict(X_test)

    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print(f"Gradient Boosting - learning: {learning_rate}")
    print(f"Confusion Matrix:{label}")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [10]:
def train_test_assess_boosting_learning(X_train, y_train, X_test, y_test, print_assess=False):
    accuracy=[]
    learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
    for learning_rate in learning_rates:
        classifier = GradientBoostingClassifier(n_estimators=50,
        learning_rate=learning_rate,
        max_features=5,
        max_depth=3,
        random_state=0)
        classifier.fit(X_train, y_train)
        accuracy.append(classifier.score(X_test,y_test))
        if(print_assess):
            #print assessment
            print("Learning rate: ", learning_rate)
            print("Accuracy score (training): {0:.3f}".format(classifier.score(X_train, y_train)))
            print("Accuracy score (testing): {0:.3f}".format(classifier.score(X_test,y_test)))
    return learning_rates[accuracy.index(max(accuracy))]

In [11]:
for i, _ in enumerate(ys):
    X_train = Xs[i]
    y_train= ys[i]
    label= cmlabel[i]
    boost_learn=train_test_assess_boosting_learning(X_train, y_train, X_test, y_test)
    train_test_trees(X_train, y_train, X_test, y_test, label)
    train_test_svm(X_train, y_train, X_test, y_test, label)
    train_test_boosting(X_train, y_train, X_test, y_test, label, boost_learn)

Decision Tree
Confusion Matrix:Using ActualDataSample

          Predicted 0  Predicted 1
Actual 0          828          348
Actual 1           19           33

Accuracy Score : 0.7011400651465798
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.70      0.82      1176
           1       0.09      0.63      0.15        52

    accuracy                           0.70      1228
   macro avg       0.53      0.67      0.49      1228
weighted avg       0.94      0.70      0.79      1228

SVM-Support Vector Machine
Confusion Matrix:Using ActualDataSample

          Predicted 0  Predicted 1
Actual 0          889          287
Actual 1           16           36

Accuracy Score : 0.753257328990228
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.76      0.85      1176
           1       0.11      0.69      0.19        52

    accuracy                           0.75      1228
   macro avg       0.55      0.72      0.52      1228
weighted avg       0.95      0.75      0.83      1228

Gradient Boosting - learning: 0.25
Confusion Matrix:Using ActualDataSample

          Predicted 0  Predicted 1
Actual 0          903          273
Actual 1           14           38

Accuracy Score : 0.7662866449511401
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.77      0.86      1176
           1       0.12      0.73      0.21        52

    accuracy                           0.77      1228
   macro avg       0.55      0.75      0.54      1228
weighted avg       0.95      0.77      0.84      1228

Decision Tree
Confusion Matrix:Using Random Oversampling

          Predicted 0  Predicted 1
Actual 0         1145           31
Actual 1           50            2

Accuracy Score : 0.9340390879478827
Classification Report
              precision    recall  f1-score   support

           0       0.96      0.97      0.97      1176
           1       0.06      0.04      0.05        52

    accuracy                           0.93      1228
   macro avg       0.51      0.51      0.51      1228
weighted avg       0.92      0.93      0.93      1228

SVM-Support Vector Machine
Confusion Matrix:Using Random Oversampling

          Predicted 0  Predicted 1
Actual 0          858          318
Actual 1           13           39

Accuracy Score : 0.7304560260586319
Classification Report
              precision    recall  f1-score   support

           0       0.99      0.73      0.84      1176
           1       0.11      0.75      0.19        52

    accuracy                           0.73      1228
   macro avg       0.55      0.74      0.51      1228
weighted avg       0.95      0.73      0.81      1228

Gradient Boosting - learning: 1
Confusion Matrix:Using Random Oversampling

          Predicted 0  Predicted 1
Actual 0          992          184
Actual 1           29           23

Accuracy Score : 0.8265472312703583
Classification Report
              precision    recall  f1-score   support

           0       0.97      0.84      0.90      1176
           1       0.11      0.44      0.18        52

    accuracy                           0.83      1228
   macro avg       0.54      0.64      0.54      1228
weighted avg       0.94      0.83      0.87      1228

Decision Tree
Confusion Matrix:Using SMOTEENN Sampling

          Predicted 0  Predicted 1
Actual 0         1026          150
Actual 1           36           16

Accuracy Score : 0.8485342019543974
Classification Report
              precision    recall  f1-score   support

           0       0.97      0.87      0.92      1176
           1       0.10      0.31      0.15        52

    accuracy                           0.85      1228
   macro avg       0.53      0.59      0.53      1228
weighted avg       0.93      0.85      0.88      1228

SVM-Support Vector Machine
Confusion Matrix:Using SMOTEENN Sampling

          Predicted 0  Predicted 1
Actual 0          930          246
Actual 1           22           30

Accuracy Score : 0.7817589576547231
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.79      0.87      1176
           1       0.11      0.58      0.18        52

    accuracy                           0.78      1228
   macro avg       0.54      0.68      0.53      1228
weighted avg       0.94      0.78      0.84      1228

Gradient Boosting - learning: 1
Confusion Matrix:Using SMOTEENN Sampling

          Predicted 0  Predicted 1
Actual 0          964          212
Actual 1           32           20

Accuracy Score : 0.8013029315960912
Classification Report
              precision    recall  f1-score   support

           0       0.97      0.82      0.89      1176
           1       0.09      0.38      0.14        52

    accuracy                           0.80      1228
   macro avg       0.53      0.60      0.51      1228
weighted avg       0.93      0.80      0.86      1228