In [9]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression # logestic reg is a linear model also 
                                                    #linear regression is another ex of a linear model"

In [10]:
np.random.seed(42)

In [11]:
#loading test data
X_test= pd.read_csv("Resources/X_test_actual_balanced_scaled_train_dataset.csv")
X_train = pd.read_csv("Resources/X_train_actual_balanced_scaled_train_dataset.csv")
y_test = pd.read_csv("Resources/y_test_actual_balanced_scaled_train_dataset.csv")
y_train = pd.read_csv("Resources/y_train_actual_balanced_scaled_train_dataset.csv")

In [12]:
X_test.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,-0.838191,1.099005,-0.488678,-0.343286,0.535557,0.911077,0.947176,1.956511,-0.444470,0.413607
1,-0.838191,0.613536,2.046338,2.913025,0.535557,-0.117758,0.947176,2.290381,1.637060,-0.588710
2,-0.838191,0.657670,-0.488678,-0.343286,-1.867214,-0.117758,0.947176,-0.427439,-1.013521,0.413607
3,1.193046,0.216334,-0.488678,-0.343286,0.535557,-0.117758,-1.055770,-0.396022,2.176161,-1.591027
4,1.193046,-0.269135,-0.488678,-0.343286,0.535557,-0.117758,-1.055770,-0.359103,0.753533,0.413607

In [13]:
Xs =[]
ys = []
cmlabel = []

features= ['gender', 'age','hypertension','heart_disease', 'ever_married', 'work_type',
           'Residence_type','avg_glucose_level', 'bmi', 'smoking_status']

In [14]:
#drop non medical features
X_test.drop(columns =['ever_married', 'work_type', 'Residence_type'])
X_train.drop(columns =['ever_married', 'work_type', 'Residence_type'])

,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status
0,1.193046,1.054871,-0.488678,-0.343286,0.261246,-0.893721,-0.588710
1,-0.838191,0.657670,-0.488678,-0.343286,-0.261658,0.768508,0.413607
2,-0.838191,-0.578070,-0.488678,-0.343286,-0.471103,-0.728995,1.415924
3,-0.838191,0.083933,-0.488678,-0.343286,0.776694,-0.339645,-1.591027
4,1.193046,-1.857942,-0.488678,-0.343286,-0.749239,-1.357947,0.413607
...,...,...,...,...,...,...,...
327,1.193046,-0.004334,-0.488678,-0.343286,-0.838697,-0.159944,0.413607
328,-0.838191,0.701803,-0.488678,-0.343286,1.830134,2.685312,0.413607
329,-0.838191,-0.136734,-0.488678,-0.343286,-0.583635,0.139556,0.413607
330,-0.838191,-0.710470,-0.488678,-0.343286,1.379649,0.483982,0.413607
331,-0.838191,1.054871,2.046338,-0.343286,1.515788,2.415761,0.413607

In [15]:
def train_test_logistic(X_train, y_train, X_test, y_test):

    ## Creating the classifier instance
    global log_re
    log_re = LogisticRegression(solver='lbfgs', random_state=1, max_iter = 300)
    
    # Fitting the model
    log_re = log_re.fit(X_train, y_train)
    
    # Making predictions using the testing data
    predictions = log_re.predict(X_test)
    
    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Logistic Regression Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [16]:
train_test_logistic(X_train, y_train, X_test, y_test)

Logistic Regression Confusion Matrix

/Users/jasonm/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          Predicted 0  Predicted 1
Actual 0           35            7
Actual 1            6           36

Accuracy Score : 0.8452380952380952
Classification Report
              precision    recall  f1-score   support

           0       0.85      0.83      0.84        42
           1       0.84      0.86      0.85        42

    accuracy                           0.85        84
   macro avg       0.85      0.85      0.85        84
weighted avg       0.85      0.85      0.85        84