In [1]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from path import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression # logestic reg is a linear model also 
                                                    #linear regression is another ex of a linear model"

In [2]:
np.random.seed(42)

In [3]:
#loading test data
X_test= pd.read_csv("Resources/X_test_SMOTEENN_balanced_scaled_train_dataset.csv")
X_train = pd.read_csv("Resources/X_train_SMOTEENN_balanced_scaled_train_dataset.csv")
y_test = pd.read_csv("Resources/y_test_SMOTEENN_balanced_scaled_train_dataset.csv")
y_train = pd.read_csv("Resources/y_train_SMOTEENN_balanced_scaled_train_dataset.csv")

In [4]:
X_test.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1.202320,1.285485,3.153756,-0.233018,0.730297,0.745408,0.981537,0.204538,0.480846,-0.357119
1,-0.829948,0.050142,-0.317082,-0.233018,0.730297,-0.171871,-1.018810,-0.825171,2.102945,1.519028
2,-0.829948,-0.346932,-0.317082,-0.233018,0.730297,-2.006429,-1.018810,-0.357861,-0.572096,0.580955
3,1.202320,-0.744007,-0.317082,-0.233018,-1.369306,-0.171871,0.981537,1.936003,-1.169712,0.580955
4,1.202320,1.109007,-0.317082,-0.233018,0.730297,-0.171871,-1.018810,0.254679,-0.330204,0.580955

In [5]:
Xs =[]
ys = []
cmlabel = []

features= ['gender', 'age','hypertension','heart_disease', 'ever_married', 'work_type',
           'Residence_type','avg_glucose_level', 'bmi', 'smoking_status']

In [6]:
#Drop non med features
X_test.drop(columns =['ever_married', 'work_type', 'Residence_type'])
X_train.drop(columns =['ever_married', 'work_type', 'Residence_type'])

,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status
0,-0.829948,-0.479290,-0.317082,-0.233018,-0.000772,-0.828217,0.580955
1,-0.829948,-1.670513,-0.317082,-0.233018,-1.024157,-1.610809,-1.295192
2,1.202320,1.197246,-0.317082,-0.233018,-0.915742,0.139351,1.519028
3,1.202320,0.050142,-0.317082,-0.233018,-0.126803,0.665822,0.580955
4,-0.829948,-1.582275,-0.317082,-0.233018,-0.977403,-1.710412,-1.295192
...,...,...,...,...,...,...,...
6568,1.202320,0.942155,-0.317082,-0.233018,-0.326108,0.006928,-0.683453
6569,-0.829948,1.489543,3.153756,-0.233018,-0.684412,-0.013604,0.874093
6570,1.202320,1.561426,-0.317082,-0.233018,-0.467821,-0.122891,-0.357119
6571,1.202320,-0.013532,-0.317082,-0.233018,-0.485303,-0.370126,-1.295192
6572,-0.829948,0.814042,3.153756,-0.233018,-0.024960,0.347907,-0.357119

In [7]:
def train_test_logistic(X_train, y_train, X_test, y_test):

    ## Creating the classifier instance
    global log_re
    log_re = LogisticRegression(solver='lbfgs', random_state=1, max_iter = 300)
    
    # Fitting the model
    log_re = log_re.fit(X_train, y_train)
    
    # Making predictions using the testing data
    predictions = log_re.predict(X_test)
    
    # Calculating the confusion matrix
    cm = confusion_matrix(y_test, predictions)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Logistic Regression Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

In [8]:
train_test_logistic(X_train, y_train, X_test, y_test)

/Users/jasonm/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          650          274
Actual 1            5           37

Accuracy Score : 0.7111801242236024
Classification Report
              precision    recall  f1-score   support

           0       0.99      0.70      0.82       924
           1       0.12      0.88      0.21        42

    accuracy                           0.71       966
   macro avg       0.56      0.79      0.52       966
weighted avg       0.95      0.71      0.80       966