In [1]:
# Initial imports
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table
import psycopg2
from config import user, db_password

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# Postgress Engine Database Configuration

In [2]:
db_string = f"postgresql://{user}:{db_password}@myprogressdb.cpb2tnnn1lyz.us-east-2.rds.amazonaws.com:5432/Medical_Stroke_DB"
engine = create_engine(db_string)

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# We can view all of the classes that automap found
Base.classes.keys()

['stroke_data']

In [4]:
#  Create a meta data object to hold the reflected table schema
metadata=MetaData()
# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('patientinfo_onehot',metadata, autoload=True, autoload_with=engine)
# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

['index',
 'age',
 'hypertension',
 'heart_disease',
 'avg_glucose_level',
 'bmi',
 'stroke',
 'gender_Female',
 'gender_Male',
 'gender_Other',
 'ever_married_No',
 'ever_married_Yes',
 'work_type_Govt_job',
 'work_type_Never_worked',
 'work_type_Private',
 'work_type_Self-employed',
 'work_type_children',
 'Residence_type_Rural',
 'Residence_type_Urban',
 'smoking_status_Unknown',
 'smoking_status_formerly smoked',
 'smoking_status_never smoked',
 'smoking_status_smokes']

In [5]:
results=[]
results = engine.execute('SELECT * FROM patientinfo_onehot;')
#print(results)
df = pd.DataFrame(results, columns=table.columns.keys())
df.set_index("index", inplace=True)

In [6]:
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
index,,,,,,,,,,,,,,,,,,,,,
0,67.0,0,1,228.69,36.6,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1,61.0,0,0,202.21,NaN,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.5,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0

In [7]:
df.isnull().sum()

age                                 0
hypertension                        0
heart_disease                       0
avg_glucose_level                   0
bmi                               201
stroke                              0
gender_Female                       0
gender_Male                         0
gender_Other                        0
ever_married_No                     0
ever_married_Yes                    0
work_type_Govt_job                  0
work_type_Never_worked              0
work_type_Private                   0
work_type_Self-employed             0
work_type_children                  0
Residence_type_Rural                0
Residence_type_Urban                0
smoking_status_Unknown              0
smoking_status_formerly smoked      0
smoking_status_never smoked         0
smoking_status_smokes               0
dtype: int64

# Prepare dataset for train-test and normalization

In [8]:
df.dtypes

age                               float64
hypertension                        int64
heart_disease                       int64
avg_glucose_level                 float64
bmi                               float64
stroke                              int64
gender_Female                       int64
gender_Male                         int64
gender_Other                        int64
ever_married_No                     int64
ever_married_Yes                    int64
work_type_Govt_job                  int64
work_type_Never_worked              int64
work_type_Private                   int64
work_type_Self-employed             int64
work_type_children                  int64
Residence_type_Rural                int64
Residence_type_Urban                int64
smoking_status_Unknown              int64
smoking_status_formerly smoked      int64
smoking_status_never smoked         int64
smoking_status_smokes               int64
dtype: object

In [9]:
df_dropNaN_col = df.drop(columns="bmi")
#List continuous variables for normalization
cont_var_NaNc = df_dropNaN_col.dtypes[df_dropNaN_col.dtypes == "float64"].index.tolist()
cont_var_NaNc

['age', 'avg_glucose_level']

In [10]:
df_dropNaN_rows =df.dropna()
#List continuous variables for normalization
cont_var_NaNr = df_dropNaN_rows.dtypes[df_dropNaN_rows.dtypes == "float64"].index.tolist()
cont_var_NaNr

['age', 'avg_glucose_level', 'bmi']

In [11]:
df_dropNaN_col["stroke"].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [12]:
df_dropNaN_rows["stroke"].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

# BMI NaN Col Drop = Balancing the data

In [13]:
#Create another dataset with the original values, using the 209 stroke records + 209 non stroke randomly selected
# import Python3 random function 
import random

y_non_stroke = list(df_dropNaN_col[df_dropNaN_col["stroke"] == 0].index)
index_list= random.sample(y_non_stroke, 249) + list(df_dropNaN_col[df_dropNaN_col["stroke"] == 1].index)

df_dropNaN_col=df_dropNaN_col.filter(items=index_list, axis=0)

In [14]:
df_dropNaN_col["stroke"].value_counts()

0    249
1    249
Name: stroke, dtype: int64

# BMI NaN Col Drop =Splitting Dataset: Training and Testing

In [15]:
#Store dependent (y) and independent (X) variables
X=df_dropNaN_col.drop(columns="stroke")
y=df_dropNaN_col["stroke"]

# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, train_size=0.80)

# BMI NaN Col Drop =Standardizing Training Dataset

In [16]:
X_train.reset_index(inplace=True, drop=True)
X_test.reset_index(inplace=True, drop=True)
features =X_train.columns.values
features

array(['age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed',
       'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'], dtype=object)

In [17]:
# Standardize the data with StandardScaler().
scaler=MinMaxScaler()
scaler.fit(X_train[cont_var_NaNc])
X_train_scaled=scaler.transform(X_train[cont_var_NaNc])
X_test_scaled=scaler.transform(X_test[cont_var_NaNc])

In [18]:
X_train_scaled=X_train.drop(columns=cont_var_NaNc).join(pd.DataFrame(X_train_scaled, columns=cont_var_NaNc)).reindex(columns=features)
X_test_scaled=X_test.drop(columns=cont_var_NaNc).join(pd.DataFrame(X_test_scaled, columns=cont_var_NaNc)).reindex(columns=features)

In [19]:
X_train_scaled=X_train
X_test_scaled=X_test

In [20]:
#Based on winning model, saving this scaler
import joblib
filename = 'Standard_Scaler_OneHot_drop_bmi.joblib'
joblib.dump(scaler, filename)

['Standard_Scaler_OneHot_drop_bmi.joblib']

In [21]:
directory="../Resources"
sample_name="No_BMI_column"
scale_data="scaled"

In [22]:
#Exporting testing dataset 
output_file_path = f"{directory}/X_train_{sample_name}_balanced_{scale_data}_train_dataset.csv"

X_train_scaled = pd.DataFrame(data=X_train_scaled, columns=X_train.columns)


#Creating csv file 
X_train_scaled.to_csv(output_file_path, index=False)

In [23]:
#Exporting testing dataset 
output_file_path = f"{directory}/y_train_{sample_name}_balanced_{scale_data}_train_dataset.csv"

y_train_actual_balanced_scale=pd.DataFrame(data=y_train)

#Creating csv file 
y_train_actual_balanced_scale.to_csv(output_file_path, index=False)

y_train_actual_balanced_scale.value_counts()

stroke
0         199
1         199
dtype: int64

In [24]:
#Exporting testing dataset 
output_file_path = f"{directory}/X_test_{sample_name}_balanced_{scale_data}_train_dataset.csv"

X_test_scaled = pd.DataFrame(data=X_test_scaled, columns=X_test.columns)

#Creating csv file 
X_test_scaled.to_csv(output_file_path, index=False)

In [25]:
#Exporting testing dataset 
output_file_path = f"{directory}/y_test_{sample_name}_balanced_{scale_data}_train_dataset.csv"


y_test_actual_balanced_scale=pd.DataFrame(data=y_test)

#Creating csv file 
y_test_actual_balanced_scale.to_csv(output_file_path, index=False)

#counts
y_test_actual_balanced_scale.value_counts()

stroke
0         50
1         50
dtype: int64

# BMI NaN Rows Drop = Balancing the data

In [26]:
#Create another dataset with the original values, using the 209 stroke records + 209 non stroke randomly selected
# import Python3 random function 
import random

y_non_stroke = list(df_dropNaN_rows[df_dropNaN_rows["stroke"] == 0].index)
index_list= random.sample(y_non_stroke, 209) + list(df_dropNaN_rows[df_dropNaN_rows["stroke"] == 1].index)

df_dropNaN_rows=df_dropNaN_rows.filter(items=index_list, axis=0)

In [27]:
df_dropNaN_rows["stroke"].value_counts()

0    209
1    209
Name: stroke, dtype: int64

# BMI NaN Col Drop =Splitting Dataset: Training and Testing

In [28]:
#Store dependent (y) and independent (X) variables
X=df_dropNaN_rows.drop(columns="stroke")
y=df_dropNaN_rows["stroke"]

# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, train_size=0.80)

# BMI NaN Col Drop =Standardizing Training Dataset

In [29]:
X_train.reset_index(inplace=True, drop=True)
X_test.reset_index(inplace=True, drop=True)
features =X_train.columns.values
features

array(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed',
       'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'], dtype=object)

In [30]:
# Standardize the data with StandardScaler().
scaler=MinMaxScaler()
scaler.fit(X_train[cont_var_NaNr])
X_train_scaled=scaler.transform(X_train[cont_var_NaNr])
X_test_scaled=scaler.transform(X_test[cont_var_NaNr])

In [31]:
X_train_scaled=X_train.drop(columns=cont_var_NaNr).join(pd.DataFrame(X_train_scaled, columns=cont_var_NaNr)).reindex(columns=features)
X_test_scaled=X_test.drop(columns=cont_var_NaNr).join(pd.DataFrame(X_test_scaled, columns=cont_var_NaNr)).reindex(columns=features)

In [32]:
X_train_scaled=X_train
X_test_scaled=X_test

In [33]:
directory="../Resources"
sample_name="No_BMI_NaN_rows"
scale_data="scaled"

In [34]:
#Exporting testing dataset 
output_file_path = f"{directory}/X_train_{sample_name}_balanced_{scale_data}_train_dataset.csv"

X_train_scaled = pd.DataFrame(data=X_train_scaled, columns=X_train.columns)


#Creating csv file 
X_train_scaled.to_csv(output_file_path, index=False)

In [35]:
#Exporting testing dataset 
output_file_path = f"{directory}/y_train_{sample_name}_balanced_{scale_data}_train_dataset.csv"

y_train_actual_balanced_scale=pd.DataFrame(data=y_train)

#Creating csv file 
y_train_actual_balanced_scale.to_csv(output_file_path, index=False)

y_train_actual_balanced_scale.value_counts()

stroke
0         167
1         167
dtype: int64

In [36]:
#Exporting testing dataset 
output_file_path = f"{directory}/X_test_{sample_name}_balanced_{scale_data}_train_dataset.csv"

X_test_scaled = pd.DataFrame(data=X_test_scaled, columns=X_test.columns)

#Creating csv file 
X_test_scaled.to_csv(output_file_path, index=False)

In [37]:
#Exporting testing dataset 
output_file_path = f"{directory}/y_test_{sample_name}_balanced_{scale_data}_train_dataset.csv"


y_test_actual_balanced_scale=pd.DataFrame(data=y_test)

#Creating csv file 
y_test_actual_balanced_scale.to_csv(output_file_path, index=False)

#counts
y_test_actual_balanced_scale.value_counts()

stroke
0         42
1         42
dtype: int64